<div class="container" style="padding-top: 1rem;">
    <h2>{{title}}</h2>
    <pre><code>{{#each text}}{{.}}<br>{{/each}}</code></pre>
    <div class="row">
        <div class="six columns">
            <p>Submitted on: {{date}}</p>
        </div>
        <div class="six columns">
            <p>Expires on: {{expire}}</p>
        </div>
    </div>
</div>